[{"name":"angularjs","version":"1.4.2","files":["https:\/\/ajax.googleapis.com\/ajax\/libs\/angularjs\/1.4.2\/angular.min.js"]},{"name":"jquery","version":"1","files":["https:\/\/ajax.googleapis.com\/ajax\/libs\/jquery\/1.11.3\/jquery.min.js"]},{"name":"jquery","version":"2","files":["https:\/\/ajax.googleapis.com\/ajax\/libs\/jquery\/2.1.4\/jquery.min.js"]}]